
  {% load static  %}
  {% load custom_tags %}
  {% url 'dashboard:dashboard' as dashboard %}
  <div class="sidebar" data-color="white" data-active-color="danger">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-mini">
          <div class="logo-image-small">
            <img src="{% static '/common/img/logo-small.png' %}">
          </div>
        </a>
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
          Creative Tim
          <!-- <div class="logo-image-big">
            <img src="{% static '/common/img/logo-big.png' %}">
          </div> -->
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="{% active request 'dashboard:dashboard' 'active' %}">
            <a href="./dashboard.html">
              <i class="nc-icon nc-bank"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="{% url 'dashboard:dashboard' %}">
            <i class="nc-icon nc-calendar-60"></i>
              <p>Create Invoice</p>
            </a>
          </li>
          <li>
            <a href="./map.html">
              <i class="nc-icon nc-paper"></i>
              <p>Sold List</p>
            </a>
          </li>
          <li class="{% active request 'product:product_list' 'active' %}">
            <a href="{% url 'product:product_list' %}">
              <i class="nc-icon nc-single-copy-04"></i>
              <p>All products list</p>
            </a>
          </li>
          <li class="{% active request 'product:new_product' 'active' %}">
            <a href="{% url 'product:new_product' %}">
              <i class="nc-icon nc-simple-add"></i>
              <p>Add new product</p>
            </a>
          </li>
          <li>
            <a href="./tables.html">
              <i class="nc-icon nc-badge"></i>
              <p>Employee List</p>
            </a>
          </li>
          <li class="{% active request 'user:add_employee' 'active' %}">
            <a href="{% url 'user:add_employee' %}">
              <i class="nc-icon nc-circle-10"></i>
              <p>Add New Employee</p>
            </a>
          </li>
          <li class="active-pro">
            <a href="./upgrade.html">
              <i class="nc-icon nc-spaceship"></i>
              <p>Upgrade to PRO</p>
            </a>
          </li>
        </ul>
      </div>
    </div>