{% extends "partial_view/base.html" %}
{% load static  %}
{% block container %}
<link href="{% static '/user/css/login_page.css' %}" rel="stylesheet"/>
<div class="wrapper ">
    <div class="main-panel">
        <div class="content">
            <div class="container">
                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <form class="form" method="POST" action="">
                        {% csrf_token %}
                        <div class="card card-login">
                            <div class="card-header ">
                                <div class="card-header ">
                                    <h3 class="header text-center">Login</h3>
                                </div>
                            </div>

                            <div class="card-body ">
                                <div class="input-group">
                                    {% for field, errors in form.errors.items %}
                                    {{field}}
                                    {% for error in errors %}
                                    {{error}}
                                    {% endfor %}
                                    {% endfor %}
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-single-02"></i>
                                    </span>
                                    </div>
                                    {{form.username}}
                                    <!--                                <input class="form-control" placeholder="email" type="email" name="email" value="email" required autofocus>-->

                                    <!--                                    <span class="invalid-feedback" style="display: block;" role="alert">-->
                                    <!--                                        <strong> Error message </strong>-->
                                    <!--                                    </span>-->

                                </div>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-single-02"></i>
                                    </span>
                                    </div>
                                    {{form.password}}
                                    <!--                                <input class="form-control" name="password" placeholder="Password" type="password" required>-->

                                    <!--                                        <span class="invalid-feedback" style="display: block;" role="alert">&ndash;&gt;-->
                                    <!--                                        <strong></strong>-->
                                    <!--                                    </span>-->
                                </div>

                                <div class="form-group">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" name="remember" type="checkbox">
                                            <span class="form-check-sign"></span>
                                            Remember me
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-warning btn-round mb-3">sign in</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <a href="" class="btn btn-link">
                        forget password
                    </a>
                    <a href="" class="btn btn-link float-right">
                        Create account
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}