{% extends "partial_view/main.html" %}
{% load static %}
{% block content %}
    <link href="{% static '/product/css/product.css' %}" rel="stylesheet"/>
    <div class="row product_list">
    <div class="col col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title text-center text-md-left"> All Customers </h4>
            </div>
            <div class="card-body">
                <div class="table-responsive product_list_table">
                    <table class="table table-hover" id="product_list">
                        <thead class=" text-primary">
                        <th>ID</th>
                        <th>Customer Name</th>
                        <th>Mobile No</th>
                        <th>Address</th>
                        <th>Total item</th>
                        <th class="text-right">Total Due(BDT)</th>
                        </thead>
                        <tbody>
                        {% for customer in customer_list %}
                            <tr>
                                <td>{{ customer.id }}</td>
                                <td>{{ customer.customer_name }}</td>
                                <td>{{ customer.customer_phone }}</td>
                                <td>{{ customer.customer_address }}</td>
                                <td>{{ customer.total_item }}</td>
                                <td class="text-right">{{ customer.total_due|floatformat:3 }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% block add_new_js %}
        <script src="{% static  '/product/js/product.custom.js' %}"></script>
    {% endblock %}
{% endblock %}

