{% extends "partial_view/main.html" %}
{% load static %}
{% block content %}
    <link href="{% static '/product/css/product.css' %}" rel="stylesheet"/>
    <div class="row product_list">
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title text-center text-md-left"> All Size </h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive size_table">
                        <table class="table table-hover" id="size_list">
                            <thead class=" text-primary">
                            <th>ID</th>
                            <th>Size</th>
                            </thead>
                            <tbody>
                            {% for size in sizes %}
                                <tr class="size_row"
                                    data-size-id='{{ size.id }}'>
                                    <td>{{ size.id }}</td>
                                    <td>{{ size.size }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title text-center text-md-left"> All variants </h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive size_table">
                        <table class="table table-hover" id="size_list">
                            <thead class=" text-primary">
                            <th>ID</th>
                            <th>Size</th>
                            </thead>
                            <tbody>
                            {% for size in sizes %}
                                <tr class="size_row"
                                    data-size-id='{{ size.id }}'>
                                    <td>{{ size.id }}</td>
                                    <td>{{ size.size }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% csrf_token %}
{% endblock %}
{% block outside_wrapper %}
    <ul class="ContextMenu ContextMenu--theme-default" id="contextMenu" data-contextmenu="0" tabindex="-1">
        <li class="ContextMenu-item" tabindex="0" id="deleteBtn"
            onclick="confirmDelete()" data-total-order="0" data-variant-id="-1" data-delete-row>
            <i class="fa fa-minus-circle context-menu-icon"></i>
            <strong style="margin-left: 20px;">Delete</strong>
        </li>
    </ul>
{% endblock %}
{% block add_new_js %}
    <script>
        function productListContextMenu() {
            $('.product_row').on('contextmenu', function (e) {
                e.preventDefault();
                $('#contextMenu').css({
                    top: e.pageY + 'px',
                    left: e.pageX + 'px'
                }).addClass('is-open');
                var totalOrder = $(this).data('variantOrder');
                var vairantId = $(this).data('variantId')
                $('#deleteBtn').data('totalOrder', totalOrder);
                $('#deleteBtn').data('variantId', vairantId);
                $('#deleteBtn').data('deleteRow', this);
            })
        }

        function deleteProductItem() {
            var id = $('#deleteBtn').data('variantId');
            var deleteRow = $('#deleteBtn').data('deleteRow');
            var dataTable = $('#product_list').DataTable();
            $.ajax({
                url: window.location.href,
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                    variant_id: id
                },
                success: function (data, textStatus, jqXHR) {
                    dataTable.row($(deleteRow)).remove().draw();
                    showToast('Variant has been deleted', 'success');
                },
                error: function (data, textStatus, jqXHR) {
                    showToast('Error occurred while deleting variant', 'error');
                }
            });
        }

        function confirmDelete() {
            var totalOrder = $('#deleteBtn').data('totalOrder');

            if (totalOrder > 0) {
                var action = confirm("This product has " + totalOrder + " transaction. If you delete this then all transaction will be deleted. Do you to delete this product?");
                if (action) {
                    deleteProductItem();
                }
            } else {
                var action = confirm("This product has no transaction. Do you want to delete this product? ");
                if (action) {
                    deleteProductItem();
                }

            }
        }

        $(document).ready(function () {
            initDatatable('#size_list');
            //preventAutoFormSubmission();
            /*----------------------*/
            productListContextMenu();
            $(document).click(function () {
                $('#contextMenu').removeClass('is-open');
            });

        });
    </script>
{% endblock %}

